.BigList {

    /*background-color: darkblue;*/
    .Profile {
        display: flex;
        flex-direction: row;
        img {
            height: 60px;
            width: 60px;
            border-radius: 50%;

        }
    }
}
